[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
[submodule "external/libiconv"]
	path = external/libiconv
	url = https://git.savannah.gnu.org/git/libiconv.git
