[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
[submodule "external/libiconv"]
	path = external/libiconv
	url = https://git.savannah.gnu.org/git/libiconv.git
[submodule "external/gnulib"]
	path = external/gnulib
	url = git://git.savannah.gnu.org/gnulib.git
[submodule "external/automake"]
	path = external/automake
	url = git://git.savannah.gnu.org/automake.git
